ROOT_PASSWORD=password
DATABASE=itop
USER=itop
PASSWORD=password

KC_DB=db
KC_DB_URL=jdbc:postgresql://keycloak-postgresDB:5432/keycloak_db
KC_DB_USERNAME=username
KC_DB_PASSWORD=password

KEYCLOAK_ADMIN=username
KEYCLOAK_ADMIN_PASSWORD=password

KEYCLOAK_DB=db
KEYCLOAK_USER=username
KEYCLOAK_PASSWORD=password

AUDITOR_SERVICE_URL=auditor_service_url
ANALYZER_SERVICE_URL=analyzer_service_url

AUDITOR_ITOP_CLIENT_SECRET=client_secret